@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Sintony:400,700");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }
}

.navbar .hammburger-menu {
  width: 40px;
  height: 35px;
  border: 0;
  display: none;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 890px) {
  .navbar .hammburger-menu {
    display: inline;
  }
}

.navbar .hammburger-menu div {
  background-color: #fea100;
  display: block;
  width: 40px;
  height: 4px;
  margin: 5px 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar .navbar-nav .hammburger-links {
  margin-top: 10px;
}

.navbar .navbar-nav .hammburger-links a {
  color: #000000;
  font-family: "Sintony";
  font-weight: 700;
  size: 14px;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 890px) {
  .navbar .navbar-nav .hammburger-links {
    visibility: hidden;
    position: absolute;
    right: 0;
    z-index: 2;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -30%;
  }
  .navbar .navbar-nav .hammburger-links a {
    border-bottom: 1px solid black;
  }
  .navbar .navbar-nav.open .hammburger-links {
    visibility: visible;
  }
}

.navbar .navbar-nav.open .hammburger-menu .one {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.navbar .navbar-nav.open .hammburger-menu .two {
  opacity: 0;
}

.navbar .navbar-nav.open .hammburger-menu .three {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.navbar .button {
  width: 200px;
  height: 47px;
  background-color: #fea100;
  border: none;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .navbar .button {
    display: none;
  }
}

.navbar .button a {
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 7px;
  text-decoration: none !important;
  margin-left: 3px;
  padding: 10px;
  position: relative;
  top: 26%;
}

.navbar .button img {
  padding-right: 2px;
}

.banner {
  background-image: url("../images/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 570px;
  z-index: 1;
  padding-top: 50px;
  position: relative;
}

@media (max-width: 768px) {
  .banner {
    width: 100%;
  }
}

.banner .carousel {
  top: 50%;
  position: absolute;
}

.banner .carousel .button {
  height: 10px;
  width: 10px;
  border: 2px solid white;
  margin: 10px;
  border-radius: 9px;
  position: relative;
}

.banner .carousel .button .first {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  height: 4px;
  width: 4px;
  border-radius: 5px;
  background: #fea100;
}

.banner .banner-text {
  font-family: "Playfair Display";
  font-weight: 700;
  position: absolute;
  color: #fff;
  left: 15%;
  top: 40%;
  z-index: 2;
}

.banner .banner-text h1 {
  font-size: 56px;
  line-height: 0.5;
}

@media (max-width: 768px) {
  .banner .banner-text h1 {
    line-height: 0.9;
  }
}

.banner .banner-text h2 {
  font-size: 40px;
  line-height: 0;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .banner .banner-text h2 {
    line-height: 0.7;
  }
}

.banner .banner-text span {
  color: #fea100;
}

.banner .pink-img {
  position: absolute;
  top: 70%;
  left: 15%;
  z-index: 1;
}

@media (max-width: 768px) {
  .banner .pink-img {
    top: 69%;
    left: 57%;
  }
}

.banner-under {
  background-color: #edf1f3;
  min-height: 102px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .banner-under {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-under .banner-content1 {
  z-index: 2;
  height: 35px;
  padding-top: 10px;
  padding-right: 10px;
}

.banner-under .banner-content1 p {
  font-family: "Sintony";
  font-weight: 700;
  font-size: 14px;
  padding: 20px 5px;
  display: inline-block;
}

.banner-under .banner-content1 img {
  height: 35px;
  padding: 0 10px;
}

.banner-under .banner-content1 span {
  color: #fea100;
}

@media (max-width: 996px) {
  .banner-under .banner-content1 {
    left: 20%;
  }
}

.banner-under .banner-content2 {
  z-index: 2;
}

.banner-under .banner-content2 h3 {
  font-family: "Sintony";
  font-weight: 700;
  font-size: 35px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .about-section {
    width: 100%;
  }
}

.about-section .left-side {
  max-width: 545px;
}

.about-section .left-side h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 35px;
  padding: 10px;
}

.about-section .left-side p {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  max-width: 545px;
}

.about-section .left-side .button-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.about-section .left-side .button-logo .button {
  min-width: 149px;
  height: 51px;
  background-color: #fea100;
  border-radius: 6px;
  text-align: center;
  margin-right: 30px;
}

.about-section .left-side .button-logo .button a {
  text-decoration: none !important;
  color: #fff;
  position: relative;
  top: 30%;
  font-family: "Sintony";
  font-weight: 700;
  font-size: 14px;
}

.about-section .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about-section .right-side {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-section .right-side .image-show-first {
  padding-top: 60px;
  text-align: end;
}

.about-section .right-side .image-show-first img {
  padding-top: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .about-section .right-side .image-show-first img {
    padding-right: 0;
  }
}

.about-section .right-side .image-show-second {
  text-align: start;
}

.about-section .right-side .image-show-second img {
  padding-top: 10px;
}

.specials {
  width: 100%;
  min-height: 890px;
}

@media (max-width: 768px) {
  .specials {
    width: 100%;
    height: 1300px;
  }
}

.specials .wrapper {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 30px;
  background-image: url(../images/special-section-background.png);
  max-height: 440px;
}

@media (max-width: 768px) {
  .specials .wrapper {
    width: 100%;
  }
}

.specials .wrapper .heading {
  font-family: "Playfair Display";
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.specials .wrapper .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.specials .wrapper .images h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 26px;
}

.specials .wrapper .images p {
  font-family: "Sintony";
  font-size: 14px;
}

.specials .wrapper .images .contact {
  padding: 20px 0;
}

.specials .wrapper .images .contact h3,
.specials .wrapper .images .contact h4 {
  display: inline;
  padding: 0 20px;
}

.specials .wrapper .images .contact span {
  font-family: "Sintony";
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  text-align: start;
}

.specials .wrapper .images .contact span:after {
  content: '';
  height: 100%;
  width: 1px;
  border-right: 1px solid #e1e1e1;
  padding-right: 10px;
  padding-top: 10px;
}

.specials .wrapper .images .contact span a {
  color: #fe7cab;
}

.specials .wrapper .images .contact h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 26px;
}

.specials .wrapper .images .contact h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 30px;
  color: #fea100;
}

.specials .wrapper .images .first-dish {
  margin-right: 10px;
  max-width: 570px;
  -webkit-box-shadow: 2px 13px 28px -9px rgba(0, 0, 0, 0.48);
          box-shadow: 2px 13px 28px -9px rgba(0, 0, 0, 0.48);
}

@media (max-width: 768px) {
  .specials .wrapper .images .first-dish {
    width: 100%;
    margin-left: 10px;
  }
  .specials .wrapper .images .first-dish img {
    width: 100%;
  }
}

.specials .wrapper .images .first-dish .description {
  max-width: 430px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}

.specials .wrapper .images .second-dish {
  max-width: 570px;
  -webkit-box-shadow: 2px 13px 28px -9px rgba(0, 0, 0, 0.48);
          box-shadow: 2px 13px 28px -9px rgba(0, 0, 0, 0.48);
  z-index: 1;
  background: #fff;
}

@media (max-width: 768px) {
  .specials .wrapper .images .second-dish {
    max-width: 100%;
    margin: 10px 10px 0 10px;
  }
  .specials .wrapper .images .second-dish img {
    max-width: 100%;
  }
}

.specials .wrapper .images .second-dish .description {
  max-width: 430px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}

.specials .wrapper .last-offert {
  position: absolute;
  z-index: -1;
  top: 70%;
  right: 13%;
}

@media (max-width: 768px) {
  .specials .wrapper .last-offert {
    display: none;
  }
}

.food-menu {
  width: 100%;
  margin-top: 100px;
  height: 690px;
  position: relative;
}

@media (max-width: 768px) {
  .food-menu {
    height: 1100px;
  }
}

.food-menu .placeholder1 {
  position: absolute;
}

@media (max-width: 768px) {
  .food-menu .placeholder1 {
    display: none;
  }
}

.food-menu h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.food-menu .heading {
  border-bottom: 2px dotted #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.food-menu .heading .item {
  padding: 0 30px;
  text-align: center;
}

.food-menu .heading .item p {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
}

.food-menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.food-menu .content .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.food-menu .content .menu-item a {
  font-family: "Sintony";
  font-weight: 700;
  font-size: 16px;
}

.food-menu .content .menu-item p {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 14px;
}

.food-menu .content .price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

.food-menu .content .price span {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 26px;
  color: #fea100;
}

.food-menu .content .left-side,
.food-menu .content .right-side {
  padding: 20px;
}

.food-menu .content .left-side .menu-item,
.food-menu .content .right-side .menu-item {
  margin: 30px;
}

.food-menu .button {
  max-width: 200px;
  height: 51px;
  background-color: #fea100;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
}

.food-menu .button a {
  text-decoration: none !important;
  color: #fff;
  position: relative;
  top: 30%;
  font-family: "Sintony";
  font-weight: 700;
  font-size: 14px;
}

.food-menu .placeholder2 {
  position: absolute;
  right: 30%;
  z-index: 1;
}

@media (max-width: 768px) {
  .food-menu .placeholder2 {
    display: none;
  }
}

.clients {
  background-image: url("../images/happy-clients-background.png");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 460px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
}

.clients .arrow-button {
  width: 100%;
  z-index: 1;
}

.clients .arrow-button .arrow {
  width: 5vmin;
  height: 5vmin;
  position: absolute;
}

.clients .arrow-button .arrow::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: .2vmin .2vmin 0 0;
  border-style: solid;
  border-color: white;
  display: block;
}

.clients .arrow-button .arrow::after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 .1vmin 0 0;
  border-style: solid;
  border-color: white;
}

.clients .arrow-button #left {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  left: 20%;
  top: 40%;
}

@media (max-width: 768px) {
  .clients .arrow-button #left {
    top: 40%;
    left: 5%;
  }
}

.clients .arrow-button #right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 20%;
  top: 40%;
}

@media (max-width: 768px) {
  .clients .arrow-button #right {
    top: 40%;
    right: 5%;
  }
}

.clients .content {
  text-align: center;
}

.clients .content h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 35px;
  color: #fff;
}

.clients .content p {
  position: relative;
  width: 740px;
  margin: 0 auto;
  font-family: "Sintony";
  font-weight: 400;
  font-size: 0.938em;
  color: #fff;
}

@media (max-width: 768px) {
  .clients .content p {
    max-width: 380px;
  }
}

.clients .content p::before {
  content: '“';
  position: absolute;
  font-size: 8rem;
  top: -80%;
  left: -10%;
}

@media (max-width: 768px) {
  .clients .content p::before {
    top: -45%;
  }
}

.clients .content p::after {
  content: '”';
  position: absolute;
  color: #ffffff;
  font-size: 8rem;
  top: 40%;
  left: 98%;
}

@media (max-width: 768px) {
  .clients .content p::after {
    top: 65%;
  }
}

.clients .content img {
  margin-top: 30px;
}

.reserve-table {
  min-height: 600px;
  width: 100%;
  background: #edf1f3;
  margin-top: -30px;
}

.reserve-table .heading {
  text-align: center;
}

.reserve-table .heading h2 {
  padding-top: 100px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 35px;
}

.reserve-table .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserve-table .contact-form .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 570px;
}

.reserve-table .contact-form .wrapper .contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reserve-table .contact-form .wrapper .contact-items input {
  padding: 20px;
  border: none;
  background: #edf1f3;
  min-width: 205px;
}

.reserve-table .contact-form .wrapper .contact-items .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reserve-table .contact-form .wrapper .contact-items .left input {
  border-bottom: 1px solid #c7d1d6;
}

.reserve-table .contact-form .wrapper .contact-items .left label {
  position: absolute;
}

.reserve-table .contact-form .wrapper .contact-items .left .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserve-table .contact-form .wrapper .contact-items .left .item img {
  margin-left: -30px;
}

.reserve-table .contact-form .wrapper .contact-items .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reserve-table .contact-form .wrapper .contact-items .right input {
  border-bottom: 1px solid #c7d1d6;
}

.reserve-table .contact-form .wrapper .contact-items .right .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserve-table .contact-form .wrapper .contact-items .right .item img {
  margin-left: -30px;
}

.reserve-table .contact-form .wrapper .under-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reserve-table .contact-form .wrapper .under-contact .button {
  width: 200px;
  height: 47px;
  background-color: #fea100;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.reserve-table .contact-form .wrapper .under-contact .button a {
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 30%;
  font-family: "Sintony";
  font-weight: 700;
  font-size: 14px;
}

.reserve-table .contact-form .wrapper .under-contact p {
  font-family: "Sintony";
  font-weight: 700;
  font-size: 13px;
}

.reserve-table .contact-form .wrapper .under-contact span {
  color: #fb6da1;
}

.reserve-table .contact-form .wrapper .under-contact h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #373844;
  padding: 150px;
}

.footer h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .navigation li {
  list-style: none;
  font-family: "Sintony";
  font-weight: 400;
  font-size: 14px;
  color: #9da2a8;
}

.footer .newsletter .heading p {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 14px;
  color: #9da2a8;
}

.footer .newsletter .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.footer .newsletter .mail img {
  position: absolute;
  left: 5%;
  top: 35%;
}

.footer .newsletter .mail input {
  min-width: 310px;
  background: #373844;
  border-radius: 5px;
  border: 1px solid #52535e;
  margin-right: 10px;
}

.footer .newsletter .mail input::-webkit-input-placeholder {
  color: #fff;
  position: relative;
  left: 20%;
}

.footer .newsletter .mail input:-ms-input-placeholder {
  color: #fff;
  position: relative;
  left: 20%;
}

.footer .newsletter .mail input::-ms-input-placeholder {
  color: #fff;
  position: relative;
  left: 20%;
}

.footer .newsletter .mail input::placeholder {
  color: #fff;
  position: relative;
  left: 20%;
}

.footer .newsletter .mail .button {
  width: 200px;
  height: 47px;
  background-color: #fea100;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.footer .newsletter .mail .button a {
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: 30%;
  font-family: "Sintony";
  font-weight: 700;
  font-size: 14px;
}

.footer .newsletter .socials {
  margin-top: 30px;
}

.footer .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .app img {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */